@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Heebo:wght@100..900&family=Luckiest+Guy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: #16161A;
    overflow-x: hidden;
}

.header{
    background-color:#fffffe;
}

a.logo{
    color:#7f5af0;
    font-family: "Luckiest Guy", cursive;
    font-size: 3.1em;
    transition: all 5ms;
}

a.logo:hover{
    color:#7f5af0;
    transform: scale(105%);
}



button.sing-up{
    background-color:#2cb67d;
    border-radius: 5px;  
    border-style: none;
    padding: 2%;
    transition: all 5ms;
    font-family: "Heebo", sans-serif;
    color: azure;
    margin-left: 1%;
}


button.sing-up:hover{
  transform: scale(105%);
  background-color:#239767;
}



img.social-midias{
    width: 2rem;
   transition: all 5ms;
}

img.social-midias:hover{
    transform: scale(105%);
}


.nav-item {
    margin:  0  1rem  0;
}

.categorias{
    background-color:#94A1B2;
    padding: 0.2%;
    font-family: "Heebo", sans-serif ;
}

a.list-categorias{
    text-decoration: none;
    color: #242629; 
    transition: all 5ms;
}

a.list-categorias:hover{
    text-decoration: none;
    color: rgb(0, 0, 0); 
    
}

h2.title-of-all{
    font-family: "Luckiest Guy", cursive;
    color: #6b4cca;
    font-size: 4.5rem;
    margin-right: 3rem;
}

p.subtitle{
    color: #fffffe;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 10%;
}

p.litle-text{
    color:#fffffe;
    margin-right: 6rem;
    text-align: justify;
}



#home-presentation {
    margin: 3rem auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-image{
    border-radius: 20px;
    margin-top: 1rem;
}

a.btnHome-reading{
    background-color:#2cb67d; 
     color: rgb(24, 24, 24);
     font-family: "Dosis", sans-serif;
     font-weight: 500;
}

a.btnHome-reading:hover{
    background-color:#239767; 
    color: rgb(0, 0, 0);
    transform: translateX(3%);
}



.card{
    background-color: #242629;
    transition: all 0.3s;
}

.card:hover{
    transform:translatey(-3%);
    transform: scale(110%);
}

h2.posts-title{
    margin-top: 1rem;
    font-size: 3em;
    color: #7f5af0;
    font-family: "Luckiest Guy", cursive;
}

h5.card-title{
   font-family: "Dosis", sans-serif;
   color: #239767;
}

p.card-text{
    color: #fffffe;
    font-weight: 350;
}

a.btnCard-reading{

   background-color: #7f5af0; 
    color: rgb(24, 24, 24);
    font-family: "Dosis", sans-serif;
    font-weight: 500;
}

a.btnCard-reading:hover{
    background-color:#6b4cca; 
    color: black;
    transform: translateX(3%);
}

.individual-text{
    margin-top: 100%;
}

footer{
    background-color:#fffffe;
    margin-top: 1rem;
    font-family: "Luckiest Guy", cursive;
    color: #6b4cca;
    padding-top: 1rem;
}

.contact-text{
    font-family: "Dosis", sans-serif;
    font-weight: 800;
}  

.contact-link{
    text-decoration: none;
    color: #6b4cca;
}

.contact-link:hover{
    text-decoration: none;
    color: #4e349e;
}

.post-information{
    margin-left: 4.5rem;
    margin-right: 0;
    font-size: 1.1rem;
    text-align: justify;
}

.title-of-all.singlepost-title{
    margin-top: 1rem;
}

.col{
    padding: 1rem;
}

p.litle-text.singlePost{
    margin-right: 0;
}


@media (max-width: 900px) {
    .col {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center; 
    }
}


@media (max-width: 780px) {

    p.litle-text{
        margin-right: 0; 
    }

    p.litle-text.more-info{
        margin: 3rem; 
    }
   
    .post-information{
        margin: 0; 
}

@media (max-width: 515px) {
    h2.title-of-all{
        font-size: 3.5rem;
    }

    p.litle-text.more-info{
        margin: 1.5rem; 
    }
   
}
}
    


  



/*.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
  }*/

  /*
  
.dosis-<uniquifier> {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

/*
.heebo-<uniquifier> {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
